body{
  width: 800px;
  background-color: grey;
}

.header_container {
  width: 1000px;
  height: 300px;
  margin-left: 50px;
  margin-top: 50px;
  background-color: black;
  border-radius: 20px;
}

h1{
  color: #02AC1E;
  font-size: 90px;
  position: absolute;
  left: 360px;
  top: 175px;
}

.profile_pic {
  position: relative;
  width: 240px;
  height: auto;
  left: 30px;
  top: 30px;
  border-radius: 20px;
}

main {
  margin-left: 70px;
}
